[
  {
    "name": "SPC_U",
    "value": "YOUR_SPC_U_VALUE",
    "domain": ".shopee.com.br",
    "path": "/",
    "httpOnly": false,
    "secure": true,
    "sameSite": "None"
  },
  {
    "name": "SPC_EC",
    "value": "YOUR_SPC_EC_VALUE",
    "domain": ".shopee.com.br",
    "path": "/",
    "httpOnly": true,
    "secure": true,
    "sameSite": "None"
  },
  {
    "name": "SPC_SI",
    "value": "YOUR_SPC_SI_VALUE",
    "domain": ".shopee.com.br",
    "path": "/",
    "httpOnly": false,
    "secure": true,
    "sameSite": "None"
  },
  {
    "name": "SPC_F",
    "value": "YOUR_SPC_F_VALUE",
    "domain": ".shopee.com.br",
    "path": "/",
    "httpOnly": false,
    "secure": true,
    "sameSite": "None"
  }
]
